.song {
    float: left;
}

#list {
    list-style: none;
}

.background {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
}

p {
    font-family: Arial, sans-serif;
    padding-left: 100px;
}

h1 {
    font-family: Arial, sans-serif;
}

h3 {
    font-family: Arial, sans-serif;
    padding-left: 100px;
}

h5 {
    font-family: Arial, sans-serif;
    padding-left: 100px;
}

.list-div {
    padding-left: 75px;
}

#button-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.custom-button-delete {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.add-form-input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#add-form {
    width: 30%;
    padding-left: 20px;
    border-radius: 16px;
    border: 1px solid;
}

select {
    width:200px;
}
